__pycache__/
.*
macode.Rproj
irace.Rdata
myproject/data
myproject/data (copy)/
smac-output
pyconcorde
dist
myproject/tuning-settings/config-irace-sa-initial-parameters.txt
myproject/tuning-settings/config-irace-aco-initial-parameters.txt
myproject/tuning-settings/config-irace-ga-initial-parameters.txt