__pycache__/
.Rproj.user
myproject/instances
.vscode
macode.Rproj
.*
irace.Rdata
myproject/data
smac-output
pyconcorde
myproject/tuning-settings/config-irace-sa-initial-parameters.txt
myproject/tuning-settings/config-irace-aco-initial-parameters.txt
myproject/tuning-settings/config-irace-ga-initial-parameters.txt
myproject/tuning-settings/smac-aco-parameters.pcs
myproject/tuning-settings/smac-ga-parameters.pcs
myproject/tuning-settings/smac-sa-parameters.pcs
